{% extends 'base.html' %}
{% load static %}

<!-- # This will display all of the orders
# a manager will select a specific order and it will pull up all of the details for that order
# on this page, it will have two buttons... either accept or reject!
# the accept will be a SUBMIT button which calls the
##
# confirmOrder_addTicket.html


########## DETAILS of this FORM ##############
# 1. Shows a list of all the orders still unconfirmed
#

-->


{% block body %}
<div class="BFD-table-div">
<table>
    <tr>
        <th style="text-align: center;" >Edit</th>
        <th style="text-align: center;"> First Name</th>
        <th style="text-align: center;"> Last Name</th>
        <th style="text-align: center;">Product Name</th>
        <th style="text-align: center;">Quanity</th>
        <th style="text-align: center;">Order Description</th>
        <th style="text-align: center;">Delete</th>
    </tr>

{% for order in new_orders %}           
    <tr>
        <td style="text-align: center;">
            <a  href="{% url 'editOrder' custID=order.id %}">Edit</a>
        </td>
        <td style="text-align: center;">
            {{order.cust_first_name}}
        </td>
        <td style="text-align: center;">
            {{order.cust_last_name}}
        </td>
        <td style="text-align: center;">
            {{order.product_name}}
        </td>
        <td style="text-align: center;">
            {{order.quantity}}
        </td>
        <td style="text-align: center;">
            {{order.order_description}}
        </td>
        <td style="text-align: center;">
            <a  href="{% url 'deleteOrder' custID=order.id %}">Delete</a>
        </td>
    </tr>
{% endfor %} 
</table>
</div>

{% endblock%}







# 2. The manager chooses the order he wants and it will load a seperate page (calls the confirmOrder_addTicket.html) that has all of the details
#
