{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="body">
	<div class="table-center">
<h2>Ticket Status</h2>

<p>
  All rows below are tickets pending. <br>
	*NOTE Once a ticket is complete, change status to "FINISHED" and check the saved box so save and remove the ticket from the list
</p>


<table class="row">
  <thead>
    <tr>
      <th>Order #</th>
      <th>Count</th>
      <th>Customer Name</th>
	  <th> Company</th>
      <th>Status</th>
      <th>Product Type</th>
	  <th>QTY</th>
	  <th>Dated Needed</th>
	  <th>Save Changes</th>
    </tr>
  </thead>
  <tbody>
	 <tr>
      <td>T9823</td>
      <td>1/4</td>
      <td>James Harden</td>
      <td>Heat of the NBA</td>
      <td>
				  <select name="ticket-status" id="">
				
						<option value="Making Mockup">Making Mockup</option>
						<option value="Pending Mockup Approval">Pending Mockup Approval</option>
						<option value="Production Prep">Production Prep</option>
						<option value="In Production">In Production</option>
						<option value="Finalizing">Finalizing</option>
					    <option value="Finished">Finished</option>
   				  </select>
	   </td>
		<td>Banner</td>
		<td>20</td>
		<td>1-12-2022</td>
		<td><input name="save" type="checkbox"></td>
    </tr>
    <tr>
      <td colspan="9">
<!--		  make sure to make all of the id = "T0" into "T{{i}}" with a loop-->
        <button type="button" id="0" aria-expanded="false" onclick="toggle(this.id,'#T0');" aria-controls="T0">
          <svg xmlns="\http://www.w3.org/2000/svg&quot;" viewBox="0 0 80 80" focusable="false"><path d="M70.3 13.8L40 66.3 9.7 13.8z"></path></svg>
          Ticket# Details…
        </button>
      </td>
    </tr>
<!--	  apply the T{{i}} here too-->
    <tr id="T0" class="hidden">
      <td colspan="9">Customer Notes: {{notes}} <br>
		  			  Designer Notes: {{notes}} <br>
		              Manager Notes: {{notes}} <br>
		  			  Mockup: &nbsp; <a href="File"></a>file<br>
		  			  <textarea placeholder="Production place notes here"></textarea>
	  </td> 
    </tr>
	<tr>
      <td>T9823</td>
      <td>1/4</td>
      <td>James Harden</td>
      <td>Heat of the NBA</td>
      <td>
				  <select name="ticket-status">
				
						<option value="Making Mockup">Making Mockup</option>
						<option value="Pending Mockup Approval">Pending Mockup Approval</option>
						<option value="Production Prep">Production Prep</option>
						<option value="In Production">In Production</option>
						<option value="Finalizing">Finalizing</option>
					    <option value="Finished">Finished</option>
   				  </select>
	  </td>
		<td>Banner</td>
		<td>20</td>
		<td>1-12-2022</td>
		<td><input name="save" type="checkbox"></td>
    </tr>
    <tr>
      <td colspan="9">
        <button type="button" id="1" aria-expanded="false" onclick="toggle(this.id,'#T1');" aria-controls="T1">
          <svg xmlns="\http://www.w3.org/2000/svg&quot;" viewBox="0 0 80 80" focusable="false"><path d="M70.3 13.8L40 66.3 9.7 13.8z"></path></svg>
          Ticket# Details…
        </button>
      </td>
    </tr>
    <tr id="T1" class="hidden">
      <td colspan="9">Customer Notes: notes <br>
		  			  Designer Notes: notes <br>
		              Manager Notes: notes <br>
		  			  Mockup: &nbsp; <a href="File"></a> <br>
	  </td> 
    </tr>
    
  </tbody>
</table>
	
</div>
</div>
{% endblock body %}