{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="docs-wrapper">
    <div id="docs-sidebar" class="docs-sidebar">
        <div class="top-search-box d-lg-none p-3">
            <form class="search-form">
                <input type="text" placeholder="Search the docs..." name="search" class="form-control search-input">
                <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <nav id="docs-nav" class="docs-nav navbar">
            <ul class="section-items list-unstyled nav flex-column pb-3">
                <li class="nav-item section-title"><a class="nav-link scrollto active" href="#section-1"><span class="theme-icon-holder me-2"><i class="fas fa-map-signs"></i></span>Introduction</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#item-1-1"><b>Blogs</b></a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="#item-1-1"><b>1.1</b> &nbsp; Helping companies prepare <br> to present at a convention <br> or trade show.</a></li>
               
            </ul>

        </nav><!--//docs-nav-->
    </div><!--//docs-sidebar-->
        
         <div class="docs-content">
        <div class="container">
            <article class="docs-article" id="section-1">
                <header class="docs-header">
                    <h1 class="docs-heading">Introduction <span class="docs-time">Last updated: 2021-12-13</span></h1>
                    <section class="docs-intro">
                        <p>At <b>BIG FAT DESIGN</b> we pride ourselves in giving our customers the most. Below we have prepared a few blogs that will give insights and advice on how to best make it <b>BIG!</b></p>
                    </section><!--//docs-intro-->
                    
                    <h2>Helping companies prepare to present at a convention or trade show</h2>
                    <p>By Reyna Evelyn</p>
                    <br>
                    <p>PICKING THE RIGHT CONVENTION OR TRADE SHOW TO ATTEND.

First, why is your company going to a convention?

Is it to:

-Meet new customers.

-Show your industry what you have to offer.

-Meet the competition.

-Make new contacts that can help you expand into new markets.

-Meet other companies that you can partner with or do business with to complement your business.

-Often more than one of these reasons applies.



Secondly, determine your budget.

When you set a budget, it allows you to focus on what needs to be done and gives you parameters to work in.

Example:

Our company recently attended a convention and set our budget at $2000.00.

To make the best of that budget we made sure to pay the registration fee before the late-fee was required. The fee was $500.00.  We now had $1500.00 to work with.  It was a local event so travel expense was not an issue.

The space to display was 8ft wide.  We used a 6ft long table and a tri-fold table top display.  We had the tri-fold designed to introduce our product, which was Elementary School Year Books.

On our table top display :

1st panel gave the features and the services we provide to help customers publish their yearbook.

2nd panel gave the different pricing and our contact info.

3rd panel displayed other related products we offer.

Other items we needed were a healthy supply of business cards, table clothe, flyers, and a clear box with note cards for people to enter a drawing for a free banner.  We also had printed a sticker with our website on it.



Thirdly, how are you going to draw in your audience?

-Are you going to stand in front and talk to them?

-Use video or something interactive to draw them to you.

-Give away items

-Food

-Free Drawing

-A place to sit and rest

-Funny dressed up character

Note: At our convention we chose to stand in front and talk to people and the approach was to ask them if they would like a sticker. Then if they seemed interested we asked them to enter our free drawing.  This gave us some future contacts.

Remember the Objective for going to convention or trade show

It is important to think through how you are going to achieve that first objective of why you are going to a convention.

If it is to meet new costumers plan how to capture and sell them on your product.

-Have a way to get their contact information.

-Have flyers and items that will help them remember you.

-Send a knowledgeable sales person.

Show your industry what you have to offer.

It is important to let other “like” business in your industry know you exist, and have a specialty that maybe they don’t have.  Partnerships or sharing work can be profitable.

Example:  In the print industry the shipping of a product can be a costly as the production of it.  It often makes since to have a partner that is located locally produce the print and then deliver it.  This way we can both benefit from the transaction.

Meeting the Competition this is the easiest of all the objectives.  Talking, asking question, observing their marketing techniques will give you a feel for who they are and what you may do to compete.

Making New Contacts or vendors who can provide skills you may not have is another fairly easy thing to do at a convention or trade show.  Take time to go and wander the show and see what others have to offer. You can also attend trade shows to see who else is out there without being a presenter.



Going to a convention or trade show can be exciting and has lost of opportunity to meet and greet people who have an interest in your industry.

We have helped companies to make the most of their presentation by creating displays and presentation materials such as brochures, flyers, banners and more.

You can contact us at 801-221-2737</p>
                   
                </section><!--//section-->
                
            </div> 
    </div>
</div><!--//docs-wrapper-->
{% endblock body %}