{% extends 'base.html' %}
{% load static %}
    
    {% block body %}
    <div class="page-header theme-bg-dark py-5 text-center position-relative">
	    <div class="theme-bg-shapes-right"></div>
	    <div class="theme-bg-shapes-left"></div>
	    <div class="container">
		    <h1 class="page-heading single-col-max mx-auto">Welcome to BFD</h1>
		    <div class="page-intro single-col-max mx-auto">Tell us... what are you looking for?</div>
		    <div class="main-search-box pt-3 d-block mx-auto">
                 <form class="search-form w-100">
		            <input type="text" placeholder="Search the docs..." name="search" class="form-control search-input">
		            <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
		        </form>
             </div>
	    </div>
    </div><!--//page-header-->
	
	<img class="products-line" src="{% static 'img/Roll-labels-1024x768.jpg'%}">
	<img class="products-line" src="{% static 'img/Table-COVERs-and-Runner-cover-sets-630x480.jpg'%}">
	<img class="products-line" src="{% static 'img/Island-Style-D-BAG-1024x768.jpg'%}">

	
<div class="page-content">
     <div class="container">
		    <div class="docs-overview py-5">
			    <div class="row justify-content-center">
				    <div class="col-12 col-lg-4 py-3">
					    <div class="card shadow-sm">
						    <div class="card-body">
							    <h5 class="card-title mb-3">
								    <span class="theme-icon-holder card-icon-holder me-2">
								        <i class="far fa-file-alt"></i>
							        </span><!--//card-icon-holder-->
							        <span class="card-title-text">Place Order</span>
							    </h5>
							    <div class="card-text">
								    Already know what you're looking for? <br> <b>START HERE</b>
							    </div>
							    <a class="card-link-mask" href="{% url 'CreateOrder'%}"></a>
						    </div><!--//card-body-->
					    </div><!--//card-->
				    </div><!--//col-->
				    <div class="col-12 col-lg-4 py-3">
					    <div class="card shadow-sm">
					      <div class="card-body">
							    <h5 class="card-title mb-3">
								    <span class="theme-icon-holder card-icon-holder me-2">
								        <i class="fas fa-box-open"></i>
							        </span><!--//card-icon-holder-->
							        <span class="card-title-text">Products</span>
							    </h5>
						    <div class="card-text">
								    We specialize in <b>Customization</b> Click to see what we have done and things we can do to make your business go <b>BIG!</b>
							    </div>
						      <a class="card-link-mask" href="file:///Macintosh HD/Users/Evelyn/Desktop/BFD boot/CoderDocs-BS5-v1.0/docs-page.html#section-2">&nbsp;</a>
						    </div><!--//card-body-->
					    </div><!--//card-->
				    </div><!--//col-->
					<div class="col-12 col-lg-4 py-3">
					    <div class="card shadow-sm">
					      <div class="card-body">
							    <h5 class="card-title mb-3">
								    <span class="theme-icon-holder card-icon-holder me-2">
								        <i class="fas fa-box-open"></i>
							        </span><!--//card-icon-holder-->
							        <span class="card-title-text">My Order Status</span>
							    </h5>
						    <div class="card-text">
								    All you need is your Order number
							    </div>
						      <a class="card-link-mask" href="{% url 'MyOrder'%}">&nbsp;</a>
						    </div><!--//card-body-->
					    </div><!--//card-->
				    </div><!--//col-->
				    <div class="col-12 col-lg-4 py-3">
					    <div class="card shadow-sm">
						    <div class="card-body">
							    <h5 class="card-title mb-3">
								    <span class="theme-icon-holder card-icon-holder me-2">
								        <i class="fas fa-mouse-pointer"></i>
							        </span><!--//card-icon-holder-->
							        <span class="card-title-text">Blogs</span>
							    </h5>
							    <div class="card-text">
								    We strive to bring our customers the most value. Our blogs educate on best uses for all of our marketing products. 						    
								</div>
							    <a class="card-link-mask" href="{% static 'Blogs'%}"></a>
						    </div><!--//card-body-->
					    </div><!--//card-->
				    </div><!--//col-->
				    <div class="col-12 col-lg-4 py-3">
					    <div class="card shadow-sm">
						    <div class="card-body">
							    <h5 class="card-title mb-3">
								    <span class="theme-icon-holder card-icon-holder me-2">
								        <i class="fas fa-cogs fa-fw"></i>
							        </span><!--//card-icon-holder-->
							        <span class="card-title-text">Meet the Team</span>
							    </h5>
							    <div class="card-text">
								    The force behind <br><b>BIG FAT DESIGN & SIGN</b>						    
								</div>
							    <a class="card-link-mask" href="file:///Macintosh HD/Users/Evelyn/Desktop/BFD boot/CoderDocs-BS5-v1.0/docs-page.html#section-4"></a>
						    </div><!--//card-body-->
					    </div><!--//card-->
				    </div><!--//col-->
				    <div class="col-12 col-lg-4 py-3">
					    <div class="card shadow-sm">
						    <div class="card-body">
							    <h5 class="card-title mb-3">
								    <span class="theme-icon-holder card-icon-holder me-2">
								        <i class="fas fa-tools"></i>
							        </span><!--//card-icon-holder-->
							        <span class="card-title-text">Terms & <br> Conditions</span>
							    </h5>
							    <div class="card-text">
								    What you can expect from us.						    
								</div>
							    <a class="card-link-mask" href="file:///Macintosh HD/Users/Evelyn/Desktop/BFD boot/CoderDocs-BS5-v1.0/docs-page.html#section-5"></a>
						    </div><!--//card-body-->
					    </div><!--//card-->
				    </div><!--//col-->


    <section class="cta-section text-center py-5 theme-bg-dark position-relative">
	    <div class="theme-bg-shapes-right"></div>
	    <div class="theme-bg-shapes-left"></div>
	    <div class="container">
		    <h3 class="mb-2 text-white mb-3">Helping Businesses go <b>BIG</b> since 1998</h3>
		    </div>
	    </div>
    </section><!--//cta-section-->
	{% endblock body %}

