@charset "UTF-8";
:root{
--BFD-Blue: #2f64a7;
--BFD-Red: #d83843;
}

.page-header{
    background-image: -webkit-linear-gradient(0deg,rgba(47,100,167,1.00) 0%,rgba(216,56,67,1.00) 100%);
    background-image: -moz-linear-gradient(0deg,rgba(47,100,167,1.00) 0%,rgba(216,56,67,1.00) 100%);
    background-image: -o-linear-gradient(0deg,#2F64A7 0%,rgba(216,56,67,1.00) 100%);
    background-image: linear-gradient(90deg,rgba(47,100,167,1.00) 0%,rgba(216,56,67,1.00) 100%);
    }

.card-body:hover .card-title.card-link-mask{
    background:rgba(89,121,173,0.85);	
}
.cta-section{
	background-image: -webkit-linear-gradient(0deg,rgba(47,100,167,1.00) 0%,rgba(216,56,67,1.00) 100%);
    background-image: -moz-linear-gradient(0deg,rgba(47,100,167,1.00) 0%,rgba(216,56,67,1.00) 100%);
    background-image: -o-linear-gradient(0deg,rgba(47,100,167,1.00) 0%,rgba(216,56,67,1.00) 100%);
    background-image: linear-gradient(90deg,rgba(47,100,167,1.00) 0%,rgba(216,56,67,1.00) 100%);
}
.theme-icon-holder.card-icon-holder.me-2{
	background:rgba(89,121,173,0.85);
}


input,h3,h6,h5,label,select,option,textarea{
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 8px;
	margin-top: 3px;
	margin-bottom: 7px;
	margin-right: 7px;
	margin-left: 10px;
	border-radius: 0px;
	text-shadow: 0px 0px;
	color: black;
	height: 2rem;
}
input,label,select,textarea{
	font-size: 9pt;
}
h6{
	margin-left: 1rem;
}
.search-order{
	margin-left: 1rem;
	margin-bottom: 1rem;
}
.search-submit{
	padding: 0 5px;
}
.BFD-form {
	position: relative;
	width: 40rem;
	margin: auto;
}
.BFD-form-approval {
	position: relative;
	width: 100%;
	display: inline-flex;
}
.order-info,.contact-info{
	-webkit-box-shadow: 12px 12px 16px 1px rgba(209,28,28,0.20);
	border: thin solid #BBBBBB;
	box-shadow: 12px 12px 16px 1px rgba(36,31,31,0.20);
	margin: auto;
	border-radius: 7px;
	background: rgba(0,0,0,0.20);
}
.order-info,.contact-info{
	-webkit-box-shadow: 12px 12px 16px 1px rgba(209,28,28,0.20);
	border: thin solid #BBBBBB;
	box-shadow: 12px 12px 16px 1px rgba(36,31,31,0.20);
	border-radius: 7px;
	background: rgba(255,255,255,1.00);
}
.order-req-details{
	height: auto;
	margin-left: 3%;
	width: 47%;
	-webkit-box-shadow: 12px 12px 16px 1px rgba(209,28,28,0.20);
	border: thin solid #BBBBBB;
	box-shadow: 12px 12px 16px 1px rgba(36,31,31,0.20);
	border-radius: 7px;
	background: rgba(255,255,255,1.00);
}
.form-header{
	position: relative;
	top: 2rem;
	margin-left: 14px;
	margin-bottom: 60px;
}
.page{
	height: auto;
	width: 100%;
}
.product-details {
	height: 5rem;
	width: 30rem;
}

.BFD-table-div {
	width: 100%;
	display:flex;
	justify-content: center;
}



a.btn-table.active{
	background: rgba(207,207,207,1.00);
}

.d-block {
	max-width: 40%;
}

.products-line {
	width: 33%;
}
.row{
	width: 100%;
	background: rgba(255,255,255,1.00);
}
.approve{
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
}








/*This is the real table css*/
.body{
	position: relative;
	width: 85%;
	margin: auto;
}
table {
  margin: 1em 0;
  border-collapse: collapse;
}

caption {
  text-align: left;
  font-style: italic;
  padding: 0.25em 0.5em 0.5em 0.5em;
}

th,
td {
  padding: 0.25em 0.5em 0.25em 1em;
  vertical-align: text-top;
  text-align: center;
  text-indent: -0.5em;
}

th {
  vertical-align: bottom;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-weight: bold;
}

.row td:nth-of-type(2), .cell td:nth-of-type(3) {
  font-style: italic;
}

.row th:nth-of-type(3),
.row td:nth-of-type(3),
.cell th:nth-of-type(4),
.cell td:nth-of-type(4) {
  text-align: right;
}

td[colspan] {
  background-color: #eee;
  color: #000;
  font-weight: normal;
  font-style: italic;
  padding: 0;
  text-indent: 0;
}

tr.shown, tr.hidden {
  background-color: #eee;
  display: table-row;
}

tr.hidden {
  display: none;
}

.row button {
  background-color: transparent;
  border: .1em solid transparent;
  font: inherit;
  padding: 0.25em 0.5em 0.25em .25em;
  width: 100%;
  text-align: left;
}

.row button:focus, .row button:hover {
  background-color: #ddd;
  outline: .2em solid #00f;
}

.row button svg {
  width: .8em;
  height: .8em;
  margin: 0 0 -.05em 0;
  fill: #66f;
  transition: transform 0.25s ease-in;
  transform-origin: center 45%;
}

.row button:hover svg,
.row button:focus svg {
  fill: #00c;
}

/* Lean on programmatic state for styling */
.row button[aria-expanded="true"] svg {
  transform: rotate(180deg);
}

.cell button {
  font-size: 60%;
  color: #000;
  background-color: #00f;
  padding: 0.3em 0.2em 0 0.2em;
  border: 0.2em solid #00f;
  border-radius: 50%;
  line-height: 1;
  text-align: center;
  text-indent: 0;
  transform: rotate(270deg);
}

.cell button svg {
  width: 1.25em;
  height: 1.25em;
  fill: #fff;
  transition: transform 0.25s ease-in;
  transform-origin: center 45%;
}

.cell button:hover,
.cell button:focus {
  background-color: #fff;
  outline: none;
}

.cell button:hover svg,
.cell button:focus svg {
  fill: #00f;
}

/* Lean on programmatic state for styling */
.cell button[aria-expanded="true"] svg {
  transform: rotate(90deg);
}

/* Proven method to visually hide something but */
/* still make it available to assistive technology */
.visually-hidden {
  position: absolute;
  top: auto;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}


