{% load static %}
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BFD Home</title>
<link href="{% static 'css/bootstrap-4.4.1.css'%}" rel="stylesheet" type="text/css">

<link href="{% static 'css/bfdmain.css'%}" rel="stylesheet" type="text/css">
</head>

<body class="top">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="logo" href="{% url 'Home'%}"> 
		<img src="{% static 'img/BFD_Logo.png'%}" width="150%" href="{% url 'Home'%}" alt="BFD logo">
	</a>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent1">
    <ul class="navbar-nav mr-auto">
      {% comment %} <li class="nav-item"> <a class="nav-link" href="{% url 'currentOrders'%}">Current Orders &nbsp;</a> </li> {% endcomment %}
      <li class="nav-item"> <a class="nav-link" href="{% url 'orders'%}">Order Now &nbsp;</a> </li>
      <!--THIS IS FOR THE ORDERS-->
      <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Tracking &nbsp;</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown1"> <a class="dropdown-item" href="{% url 'currentOrders' %}">Current Orders</a> <a class="dropdown-item" href="{% url 'currentTickets'%}">Current Tickets</a>
          {% comment %} <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'About' %}">About Us</a> 
          <a class="dropdown-item" href="">Contact</a>
        </div> {% endcomment %}
      </li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> More &nbsp;</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown1"> <a class="dropdown-item" href="{% url 'Products' %}">Our Products</a> <a class="dropdown-item" href="#">Past Jobs</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'About' %}">About Us</a> 
          <a class="dropdown-item" href="">Contact</a>
        </div>
      </li>&nbsp;&nbsp;
      <li class="nav-item"> <a class="nav-link" href="#">Admin&nbsp;</a> </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    </form>
  </div>
</nav>


{% block body %}
{% endblock body %}


<script src="{% static 'js/jquery-3.4.1.min.js'%}"  ></script>
<script src="{% static 'js/popper.min.js'%}"        ></script>
<script src="{% static 'js/bootstrap-4.4.1.js'%}"   ></script>

</body>
</html>